name: Update Docker Hub Description
on:
  push:
    branches:
      - main
    paths:
      - README.md
      - .github/workflows/dockerhub-description.yml
jobs:
  dockerHubDescription:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Docker Hub Description
      uses: peter-evans/dockerhub-description@v5
      with:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: mrog1/unifi-hotspot-rickroll
        short-description: ${{ github.event.repository.description }}
        enable-url-completion: true
